//Flex-box
@mixin flex{
  display: flex;
  flex-wrap: wrap;
}

//inline-block
@mixin inlineblock($valign: top) {
  display: inline-block;
  vertical-align: $valign;
}

//placeholder-color
@mixin placeholder($color) {
  &::-webkit-input-placeholder {
    color: $color;
  }

  &:-moz-placeholder {
    color: $color;
  }

  &::-moz-placeholder {
    color: $color;
  }

  &:-ms-input-placeholder {
    color: $color;
  }
}

//font
@mixin main-font ($font: false, $size: false, $colour: false, $weight: false,  $lh: false) {
  font-family: $font;
  @if $size { font-size: $size; }
  @if $colour { color: $colour; }
  @if $weight { font-weight: $weight; }
  @if $lh { line-height: $lh; }
}

//from px to rem
@function rem($px) {
  @return $px / 16px + 0rem;
}

//media
@mixin desktop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: 992px) {
    @content;
  }
}

@mixin tablets {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin phones {
  @media screen and (max-width: 480px) {
    @content;
  }
}
